<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<!-- Servlets -->
	<servlet>
		<servlet-name>greetServlet</servlet-name>
		<servlet-class>tn.tunisiana.customer.server.GreetingServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>customerManServlet</servlet-name>
		<servlet-class>tn.tunisiana.customer.server.services.CustomerServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>offerManServlet</servlet-name>
		<servlet-class>tn.tunisiana.customer.server.services.OfferManagerServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>greetServlet</servlet-name>
		<url-pattern>/CustomerManager/greet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>customerManServlet</servlet-name>
		<url-pattern>/CustomerManager/cManagerService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>offerManServlet</servlet-name>
		<url-pattern>/CustomerManager/oManagerService</url-pattern>
	</servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>CustomerManager.html</welcome-file>
	</welcome-file-list>

</web-app>
